.create-set {
	width: 340px;
	height: 190px;
	display: flex;
	flex-direction: column;

	@media (max-width: 425px) {
		width: 78vw;
	}

	&__title {
		margin-bottom: 26px;
	}

	&__inputs {
		flex: 1 1 100%;
	}

	&__buttons {
		display: flex;
		justify-content: flex-end;
		gap: 10px;
	}
}